flask==3.0.3
flask-sqlalchemy==3.1.1
gunicorn==23.0.0
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
psycopg2-binary==2.9.9
scikit-learn==1.5.1
sqlalchemy==2.0.32
xgboost==2.1.1
email-validator==2.2.0
google-generativeai==0.8.3
requests==2.32.3
